*{
  margin: 0;
  padding: 0;
  box-sizing: box-sizing;
}

body{
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h1{
  color: darkred;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px red;
}